@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, sans-serif;
}


html {
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
}

body{
  margin: 20px;
  background-color: hsl(0, 0%, 0%);
  color: white;
}

.nav{
  position: relative;
  padding: 50px;
}

nav{
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(0, 0%, 50%);
  border-radius: 5px;
  padding: 10px;
}

nav a{
  padding: 15px;
  color: black;
  font-weight: bold;
}
a:hover{
  color: white;
}

#logo{
  display: flex;
  justify-content: center;
  margin: 20px;
  margin-bottom: 50px;
}

.me{
  margin-top: 10px;
}
.me p{
  border: 1px solid yellow;
  background-color: hsl(0, 0%, 50%);
  color: black;
}

button{
  background-color: hsl(0, 0%, 50%);
  margin-top: 40px;
  padding: 7px;
  border-radius: 10px;
  color: black;
  font-weight: bold;
}
button:hover{
  background-color: hsl(0, 0%, 40%);
  color: white;
  font-weight: bold;
}

.lang{
  background-color: hsl(0, 0%, 50%);
  padding: 20px;
  margin: 20px;
  color: black;
}
.lang:hover{
  background-color: hsl(0, 0%, 40%);
  color: white;
}

.proj{
  background-color: hsl(0, 0%, 50%);
  padding: 15px;
  margin: 20px;
}
.proj:hover{
  background-color: hsl(0, 0%, 40%);
}

.color{
  color: black;
}
.color:hover{
  color: black;
}

.contact{
  text-align: center;
}

.border{
  background-color: hsl(0, 0%, 50%);
}

.bold{
  font-weight: bold;
}